@mixin initialisation {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin flexMid {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: $color-primary;
    margin-bottom: 30px;
}